@import 'tailwindcss';

@theme {
	--color-background: #000;
	--color-foreground: #fff;
}

@custom-variant hover (&:hover);

@layer base {
	summary {
		cursor: pointer;
		display: block;

		&::-webkit-details-marker {
			display: none;
		}
	}
}
